@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";
@config "../../tailwind.config.js";
@source "../views";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /** Custom Colors */
    --color-primary-light: var(--color-orange-500);
    --color-primary: var(--color-orange-600);
    --color-primary-dark: var(--color-orange-800);
    --color-muted: var(--color-gray-400);
    --color-muted-dark: var(--color-gray-600);
    /** Layouts */
    --breakpoint-phone: 375px;
    --breakpoint-tablet: 431px;
    --breakpoint-landscape: 768px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1536px;
    /** Components */
    --default-card-bg-color: --alpha(var(--color-gray-800) / 40%);
    /** Flexbox & Grid */
    /** Spacing */
    /** Sizing */
    /** Typography */
    --default-text-color: var(--color-white);
    --default-font-size: 14px;
    --default-host-font-size: 16px;
    --default-font-family: "Inter";
    --font-sans: Inter, sans-serif;
    /** Backgrounds */
    /** Borders */
    --default-border-color: --alpha(var(--color-gray-700) / 40%);
    --default-border-hover-color: --alpha(var(--color-gray-700) / 40%);
    --default-border-radius: var(--radius-xl);
    /** Effects */
    --default-shadow-size: var(--shadow-xl);
    /** Filters */
    /** Tables */
    /** Transitions & Animation */
    --default-transition-duration: 200;
    --default-transition-timing-function: ;
    /** Transforms */
    /** Interactivity */
    /** SVG */
    /** Accessibility */
}

/* Needs to be imported before base and components */
@import "./_utilities.css";

@import "./_base.css" layer(base);
@import "./_typography.css" layer(base);
@import "./_layouts.css" layer(components);
@import "./_components.css" layer(components);

/** Flux Override */
/* Re-assign Flux's gray of choice... */
@theme {
    --color-zinc-50: var(--color-gray-50);
    --color-zinc-100: var(--color-gray-100);
    --color-zinc-200: var(--color-gray-200);
    --color-zinc-300: var(--color-gray-300);
    --color-zinc-400: var(--color-gray-400);
    --color-zinc-500: var(--color-gray-500);
    --color-zinc-600: var(--color-gray-600);
    --color-zinc-700: var(--color-gray-700);
    --color-zinc-800: var(--color-gray-800);
    --color-zinc-900: var(--color-gray-900);
    --color-zinc-950: var(--color-gray-950);
}

@theme {
    --color-accent: var(--color-sky-600);
    --color-accent-content: var(--color-sky-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-sky-600);
        --color-accent-content: var(--color-sky-400);
        --color-accent-foreground: var(--color-white);
    }
}
